<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 INFO 日志 -->
    <appender name="file—info"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.base}/logs/qchat_admin_info.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 ERROR 日志 -->
    <appender name="file—error"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.base}/logs/qchat_admin_error.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--  记录分配客服的日志  -->
    <appender name="assignSeatAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/assignSeatLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/assignSeatLog.log.%d{yyyy-MM-dd}</fileNamePattern>
            <append>true</append>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%p %c %d{yyyy-MM-dd HH:mm:ss.SSS}[%thread] - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="assignSeatAppender" level="info" additivity="false">
        <appender-ref ref="assignSeatAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file—info"/>
        <appender-ref ref="file—error"/>
    </root>

    <logger name="org.apache.ibatis" level="INFO">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="java.sql.Connection" level="INFO" />
    <logger name="java.sql.Statement" level="INFO" />
    <logger name="java.sql.PreparedStatement" level="INFO" />
</configuration>