<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qunar.chat.dao.ConsultMsgDao">

    <insert id="insertConsultMsg" >
        insert into consult_msg_history
        (m_from,m_to,m_body,msg_id,from_host,to_host,create_time,msg_type,realfrom, realto)
        values(#{m_from}, #{m_to},#{msg},#{msg_id},#{from_host},#{to_host},to_timestamp(#{time}),#{type},#{realfrom}, #{realto})
        ON CONFLICT (msg_id) DO NOTHING;
    </insert>


</mapper>