<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qunar.chat.dao.UnSentMessageDao">

    <resultMap id="BaseResultMap" type="com.qunar.chat.entity.QtUnSentMessage">
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <result column="message_id" property="messageId" jdbcType="VARCHAR"/>
        <result column="shop_id" property="shopId" jdbcType="INTEGER"/>
        <result column="message" property="message" jdbcType="OTHER"  typeHandler="com.qunar.chat.dao.JsonTypeHandler"/>
    </resultMap>

    <select id="selectByCustomerNameAndShopId" resultMap="BaseResultMap">
        select * from queue_saved_message where customer_name = #{customerName} and shop_id = #{shopId} ORDER BY id ASC
    </select>

    <delete id="deleteUnSentMessages" parameterType="java.util.List">
        delete from queue_saved_message where message_id in
        <if test="list != null and list.size() > 0">
            <foreach collection="list" open="(" close=")" separator="," item="messageId">
                #{messageId}
            </foreach>
        </if>
    </delete>

    <insert id="insertNoneRealtoMessage">
        INSERT INTO queue_saved_message(customer_name, shop_id, message)
        VALUES (#{customerName}, #{shopId}, #{message, jdbcType=OTHER, typeHandler=com.qunar.chat.dao.JsonTypeHandler});
    </insert>
</mapper>